<!DOCTYPE html>
<html>
<head>
    <title> Carleton Course Schedules </title>
    <script type = "text/javascript" src = "{{ url_for('static', filename= 'courses_config.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='homepage.js')}}"></script> 
    <!-- <script src="jquery-3.3.1.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="../static/homepage.css" /> -->
</head>
<body>

    
    <div id="header"> Carleton College Classes </div>
    <p><button id = "browsed" onclick="onBrowseButton()"> Browse All Courses </button></p>
    <style>
    #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    }
    #text { 
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    }
    </style>
    <div id = "overlay" onclick = "off()">
        <div id="text">Overlay Text</div>
    </div>
    <div style = "padding:20px">
    </div>

    <p>
        <select id="browseBy">
            <option value="object">Browse by Subject</option>
            <option value="AFAM">African/African American Studies (AFAM)</option>
            <option value="AFST">Africana Studies (AFST)</option>
            <option value="AMMU">American Music Concentration (AMMU)</option>
            <option value="AMST">American Studies (AMST)</option>
            <option value="ARBC">Arabic (ARBC)</option>
            <option value="ARCN">Archaeology (ARCN)</option>
            <option value="ARTH">Art History (ARTH)</option>
            <option value="ASLN">Asian Languages and Literatures (ASLN)</option>
            <option value="ASST">Asian Studies (ASST)</option>
            <option value="ASTR">Astronomy (ASTR)</option>
            <option value="BIOL">Biology (BIOL)</option>
            <option value="CHEM">Chemistry (CHEM)</option>
            <option value="CHIN">Chinese (CHIN)</option>
            <option value="CAMS">Cinema and Media Studies (CAMS)</option>
            <option value="CLAS">Classics (CLAS)</option>
            <option value="CGSC">Cognitive Science (CGSC)</option>
            <option value="CGST">Cognitive Studies (CGST)</option>
            <option value="CS">Computer Science (CS)</option>
            <option value="CCST">Cross-Cultural Studies (CCST)</option>
            <option value="DANC">Dance (DANC)</option>
            <option value="ECON">Economics (ECON)</option>
            <option value="EDUC">Educational Studies (EDUC)</option>
            <option value="ENGL">English (ENGL)</option>
            <option value="ENTS">Environmental Studies (ENTS)</option>
            <option value="EUST">European Studies (EUST)</option>
            <option value="FREN">French and Francophone Studies (FREN)</option>
            <option value="GEOL">Geology (GEOL)</option>
            <option value="GERM">German (GERM)</option>
            <option value="GRK">Greek (GRK)</option>
            <option value="HIST">History (HIST)</option>
            <option value="IDSC">Interdisciplinary (IDSC)</option>
            <option value="JAPN">Japanese (JAPN)</option>
            <option value="JALLI">Japanese Language and Literature (JALLI)</option>
            <option value="LATN">Latin (LATN)</option>
            <option value="LTAM">Latin American Studies (LTAM)</option>
            <option value="LING">Linguistics (LING)</option>
            <option value="LCST">Lit and Cultural Studies (LCST)</option>
            <option value="MATH">Mathematics (MATH)</option>
            <option value="MARS">Medieval and Renaissance St (MARS)</option>
            <option value="MEST">Middle East Studies (MEST)</option>
            <option value="MELA">Middle Eastern Languages (MELA)</option>
            <option value="MUSC">Music (MUSC)</option>
            <option value="NEUR">Neuroscience (NEUR)</option>
            <option value="PHIL">Philosophy (PHIL)</option>
            <option value="PE">Phys-Ed, Ath/Rec (PE)</option>
            <option value="PHYS">Physics (PHYS)</option>
            <option value="PPHHI">Political Philosophy History (PPHHI)</option>
            <option value="POSC">Political Science (POSC)</option>
            <option value="PSYC">Psychology (PSYC)</option>
            <option value="RELG">Religion (RELG)</option>
            <option value="RUSS">Russian (RUSS)</option>
            <option value="SOAN">Sociology/Anthropology (SOAN)</option>
            <option value="SPAN">Spanish (SPAN)</option>
            <option value="COGSC">Special:  Cognitive Science (COGSC)</option>
            <option value="ARTS">Studio Art (ARTS)</option>
            <option value="THEA">Theater Arts (THEA)</option>
            <option value="WGST">Women's and Gender Studies (WGST)</option>
        </select>
        <button onclick="onBrowseByButton()">Go</button>
    </p>
    <p id = "input"></p> 
    <p id = "results"></p>
    
<!--      <div class = "dropdown"> 
        <button onclick = "onBrowseByButton()"
        class = "dropbtn">Dropdown</button>
        <div id = "myDropdown" class = "dropdown-content">
            <a> African American Studies</a>
            <a> American Studies</a>
        </div>
    </div> -->

    <p><table id="results_table" align="center">
    </table></p> 


</body>
</html>