<!DOCTYPE html>
<html>
<head>
    <title> Carleton Course Schedules </title>
    <script type = "text/javascript" src = "{{ url_for('static', filename= 'courses_config.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='homepage.js')}}"></script> 
    <!-- <link rel="stylesheet" type="text/css" href="../static/homepage.css" /> -->
</head>
<body>
    
    <div id="header"> Carleton College Classes </div>
    <p><button id = "browsed" onclick="onBrowseButton()"> Browse All Courses </button></p>
<!-- 
    <p>

     <input id="search" type="text" placeholder="Search Courses"/></input>
        <select id="searchBy">
            <option value="object">Browse by:</option>
            <option value="object">Subject</option>
            <option value="date">Academic Term</option>
        </select>
        <button onclick="SearchButton()">Search</button>
    </p> -->
    <p id = "input"></p> 
    <p id = "results"></p>
    
    <p><table id="results_table" align="center">
    </table></p> 

</body>
</html>