<!DOCTYPE html>
<html>
<head>
    <title> Carleton Course Schedules </title>
    <script type = "text/javascript" src = "{{ url_for('static', filename= 'courses_config.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='homepage.js')}}"></script> 
    <!-- <link rel="stylesheet" type="text/css" href="../static/homepage.css" /> -->
</head>
<body>
    
    <div id="header"> Carleton College Classes </div>
    <p><button id = "browsed" onclick="onBrowseButton()"> Browse All Courses </button></p>

    <p>
        <select id="browseBy">
            <option value="object">Browse by Subject</option>
            <option value= "afst"> African American Studies</option>
        </select>
        <button onclick="onBrowseByButton()">Go</button>
    </p>
    <p id = "input"></p> 
    <p id = "results"></p>
    
<!--      <div class = "dropdown"> 
        <button onclick = "onBrowseByButton()"
        class = "dropbtn">Dropdown</button>
        <div id = "myDropdown" class = "dropdown-content">
            <a> African American Studies</a>
            <a> American Studies</a>
        </div>
    </div> -->

    <p><table id="results_table" align="center">
    </table></p> 

</body>
</html>